{% extends "layout.html" %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<body>
    <h2>About</h2>
    <p>Unravel is a tree flattening algorithm that transforms topics from wikipedia into brief summary articles. Word distance evaluation provided by <a href="https://en.wikipedia.org/wiki/Word2vec" target='blank'>Word2vec</a>.</p>
    <p>Examples:
    <li><a href="/Convex_optimization" >Convex Optimization</a> (article I was reading when I thought of this site)</li>
    <li><a href="/Rome" >Rome</a></li>
    <li><a href="/Svengali" >Svengali</a></li>
    <li><a href="/Word2vec" >Word2vec</a></li>
    </p>
    <p>Questions - lfries[at]cozero.com.au</p>
</body>
</html>
{% endblock %}
