{% extends "layout.html" %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<body>
    <h2>About</h2>
    <p>Wikiflat is a tree flattening algorithm that transforms topics from Wikipedia into brief summary articles. The purpose is to provide a dense article that allows the reader to quickly get an in depth overview of some topic, without clicking multiple subtopic links as on Wikipedia.</p>
    <p>
    To prevent the summary article from diverging down branches that have only cursory relevance to the original topic under investigation, this app uses <a href="https://en.wikipedia.org/wiki/Word2vec" target='blank'>Word2vec</a> to perform cosine similarity between the potential branch link name and the original topic name. If the distance is too great (default: <= 0.75) then that branch is not traversed. Additionally, the depth of the branch search (i.e. number of consecutive nodes followed down a particular branch) is limited to 2 by default.</p>
    <p>Examples:
    <li><a href="/Convex_optimization" >Convex Optimization</a> (article I was reading when I thought of this site)</li>
    <li><a href="/Rome" >Rome</a></li>
    <li><a href="/Svengali" >Svengali</a></li>
    <li><a href="/Word2vec" >Word2vec</a></li>
    </p>
    <p>Questions - lfries[at]cozero.com.au</p>
</body>
</html>
{% endblock %}
