<!doctype html>
<title>Unravel</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<div class=page>
  <h1>Unravel</h1>
  <p>Flattening wikipedia pages since '17</p>
  {% block body %}{% endblock %}
  <p></p>
  <a class="border-button" href="/" >Home</a>
  <a class="border-button" href="/about" >About</a>
  <a class="border-button" href="/about" >Code - <i class="icon-github-alt"></i></a>
</div>